.popup {
    background-color: aqua;
    position: absolute;
    top: 0px;
    margin-left:15%;
    width: 60%;
    z-index: 2000;
}

.image-div {
    display: flex;
    margin-top: 50px;
}

.image-container {
    width: 100%;
    color: black;
}

.imgg {
    width: 70%;
}

.comment-container {
    padding: 10px;
}

.form-control {
    width: 50%;
}

.commentForm {
    margin-left: 10px;
}
